.graphDirectoryContainer{
  width: 84%;
  margin-right: 20px;
}

.graphDirectory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 20px 20px 0;
}

.graphDirectory div p {
  margin: 0px 0px 0px 8px;
}

.name{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name div{
  margin-right: 10px;
}