.mainContainer {
  display: flex;
}

.menuBlock {
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  align-items: center;
  height: 100vh;

}

.menuBlock a {
  color: #384046;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px ;
}

.menuBlock a:active{
  background-color: #D6EBFE;
  padding: 16px 50px;
  border-radius: 5px;
}

.adminPage {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin: 16px 107px 29px 26px;
  color: #0D151C;
}
