.information p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #0d151c;
}

.information {
  width: 70%;
}

.buttons{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.cancelButton{
    border: 1px solid #2798FC;
    width: 120px;
    height: 37px;
    border-radius: 100px;
}

.deleteButton{
    border: none;
    background-color: #C03112 !important;
    color: white;
    width: 120px;
    height: 37px;
    border-radius: 100px;
}