.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
}

.ant-select-selector {
  border: none !important;
  background-color: #f8f8fa !important;
  border-radius: 5px !important;
}

.ant-select-arrow {
  color: #3e64ff !important;
}

.filtersAutoComplete {
  margin-right: 100px !important;
}

.filtersSelect {
  margin-right: 40px !important;
}

.ant-input {
  width: 60% !important;
  background-color: #f8f8fa !important;
  margin-right: 40px !important;
  border-radius: 5px !important;
}

input[type="number"]::-webkit-inner-spin-button,

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
